<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
			<section class="py-6">
				<div class="container bg-light min-vh-50 py-6 d-flex justify-content-center align-items-center" style="max-width:1920px">
					<div class="row">
						<div class="col-md-12 text-center">
							<div class="lc-block mb-4">
								<div editable="rich">
									<h1 class="fw-bold display-1">404</h1>
								</div>
							</div>
							<div class="lc-block">
								<div editable="rich">
									<div class="alert alert-danger" role="alert">Lo sentimos, la página no existe.</div>
								</div>
							</div>
						</div><!-- /col -->
					</div>
				</div>
			</section>            
        </LayoutView>
    </NotFound>
</Router>
